.button{
    font-size: 1.125rem;
    font-weight: 600;
    font-family: var(--type-second);
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    background: var(--color-primary);
    color: var(--color-white);
    min-width: 8rem;
    padding: 0.6rem 1.2rem;
    box-sizing: border-box;
    transition: .3s;
}

.button:hover,
.button:focus{
    outline: none;
    box-shadow: 0 0 0 3px var(--color-primary-light), 0 0 0 4px var(--color-primary);

}

.button:disabled{
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    cursor: default;
    box-shadow: none;
    border: none;
}